.btn-primary {
    color: white;
    background-color: #4285f4;
    display: inline-block;
    padding: 6px 16px;
    border: 0;
    &:focus {
        background-color: #2a66c9;
        outline: invert;
        border: 0;
    }
    &:active,
    &:hover {
        background-color: #2a66c9;
        border: 0;
    }
    &.below-card {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: white;
    .card-head {
        background-color: #ffc107; //#ffeb3b; 
    }
    label {
        margin-bottom: 1em;
    }
    .card-content {
        padding-bottom: 1em;
        .text-input {
            display: flex;
            flex-direction: row;
        }
        .other-input {
            margin-top: 0em;
            display: flex;
            flex-direction: row;
        }
        .left {
            display: flex;
            flex-direction: column;
            flex: 2;
            padding-right: 1em;
            padding-left: 1em;
        }
        .right {
            display: flex;
            flex-direction: column;
            flex: 3;
            padding-right: 1em;
            padding-left: 1em;
        }
        @media only screen and (max-width: 1050px) {
            .text-input {
                flex-direction: column;
            }
            .other-input {
                flex-direction: column;
            }
        }
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    .dropbtn {
        background-color: inherit;
        border: none;
        margin-left: 0;
        color: #6c757d; //black;
        font-size: 1em;
        padding-left: 1em;
        padding-right: 1em;
        cursor: pointer;
        outline: none;
        &:hover,
         :focus {
            //color: white;
            border: 0;
            outline: none;
        }
        &:visited {
            border: 0;
            outline: none;
        }
        i {
            margin: 0;
            padding: 0;
        }
        .fa-stack[data-count]:after {
            position: absolute;
            right: 0%;
            top: 1%;
            content: attr(data-count);
            font-size: 60%;
            padding: 0.5em;
            border-radius: 999px;
            line-height: 0.75em;
            color: white;
            background: rgba(255, 0, 0, 0.85);
            text-align: center;
            font-weight: bold;
        }
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white; // #f1f1f1;
        max-height: 35em;
        min-width: 25em;
        box-shadow: 0em 0.25em 0.5em 0em rgba(0, 0, 0, 0.2);
        z-index: 1;
        &.notifications {
            right: 0;
            overflow-y: scroll;
        }
        &.user_actions {
            right: 0;
            overflow-y: scroll;
        }
        a,
        p {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            &:hover {
                background-color: #f1f1f1; // #ddd;
            }
        }
    }
    .hidden {
        display: none;
    }
    .show {
        display: block;
    }
}

form {
    label {
        color: grey;
    }
}

.modal-one-row-table {
    padding-bottom: 2em;
}

.table-no-description {
    margin-top: 1em;
}

.scroll {
    background-color: white;
    width: 300px;
    height: 120px;
    border: 1px solid black;
    overflow-y: scroll;
    line-height: 1.5;
    p {
        margin: 0.1em;
        padding-left: 0.25em;
    }
    .active {
        background-color: #ccc;
    }
}

.empty-table-row {
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 0;
    p {
        padding: 8px 8px;
        margin: 0;
    }
}

.non-table-card {
    background-color: #fcfcfc;
}

a {
    color: blue;
}

.error {
    color: #f44336;
    margin: 0;
    padding: 0;
}

.entry-info {
    font-size: 12px;
}


/* Hide arrows from number input */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}