* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

/* Overall page layout: sidebar, header, main area */
.grid-container {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-items: stretch;
  /* default */
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  /* default */
}

.upper-left-corner {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  background-color: lightsteelblue;
  padding: 0.35em 0.25em 0 0.25em;
  /*top, right, botton, left */
}

.upper-left-corner p {
  display: inline;
  font-size: 0.9em;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 23;
  grid-column: 2 /25;
  background-color: #a0b2c9;
  padding: 0.9em 2em 0 1em;
  /*top, right, bottom, left */
  font-size: 0.9em;
}

.header p {
  display: inline;
}

.sidebar {
  -ms-grid-row: 2;
  -ms-grid-row-span: 23;
  grid-row: 2 / 25;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  background-color: lightsteelblue;
  padding: 1.5em 0.25em 0 0.25em;
  /* top, right, botton, left */
}

.sidebar a {
  padding: 0.25em 0.3em 2em 0.3em;
  /*top, right, bottom, left */
  text-decoration: none;
  font-size: 0.85em;
  color: black;
  display: block;
}

.sidebar a:active {
  background-color: lightsteelblue;
}

.sidebar a:hover {
  color: white;
  background-color: #a0b2c9;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 23;
  grid-row: 2/25;
  -ms-grid-column: 2;
  -ms-grid-column-span: 23;
  grid-column: 2/25;
}

.button_that_looks_like_link {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.dashboard_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-right: 0em;
  padding-top: 1em;
  padding-bottom: 0em;
  padding-left: 6em;
  gap: 1em;
  margin: 0em;
  float: center;
}

.project_details_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
  grid-template-columns: 2fr 3fr;
  -ms-grid-rows: 1fr 10fr;
  grid-template-rows: 1fr 10fr;
  padding-right: 0em;
  padding-top: 1em;
  padding-bottom: 0em;
  padding-left: 2em;
  gap: 1em;
  margin: 0em;
  float: center;
}

.dashboard_wrapper > div {
  padding: 0em;
  padding-top: 0.5em;
  width: 25em;
  height: 15em;
  /*border: 1px solid black; */
}

.dashboard_wrapper > div > h3 {
  margin-top: 0.1em;
  border: 1px solid black;
  color: black;
  /*red*/
  background-color: aquamarine;
}

.dropdown {
  float: right;
  position: relative;
}

.dropbtn {
  background-color: inherit;
  border: none;
  padding-left: 0.5em;
  color: black;
  font-size: 0.9em;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn :focus {
  color: white;
  background-color: #a0b2c9;
  /*not working */
}

.dropbtn i {
  margin: 0;
  padding: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 14em;
  max-height: 20em;
  overflow-y: scroll;
  -webkit-box-shadow: 0em 0.25em 0.5em 0em rgba(0, 0, 0, 0.2);
  box-shadow: 0em 0.25em 0.5em 0em rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.fa {
  color: #303030;
}

.fa:hover,
.fa:focus {
  color: black;
}

.fa-stack[data-count]:after {
  position: absolute;
  right: 0%;
  top: 1%;
  content: attr(data-count);
  font-size: 60%;
  padding: 0.5em;
  border-radius: 999px;
  line-height: 0.75em;
  color: white;
  background: rgba(255, 0, 0, 0.85);
  text-align: center;
  font-weight: bold;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.btn-square {
  border-radius: 0;
}
/*# sourceMappingURL=bug_style.css.map */
