/* 
    
    Style of content of the 'main' area  for individual pages 

*/

.users_overview,
.my_projects,
.my_tickets {
    .wrapper {
        flex: 1;
        .card {
            margin-bottom: 2em;
            padding-bottom: 1em;
        }
        .btn-primary {
            margin-bottom: 0.5em;
        }
    }
    @media only screen and (max-width: 750px) {
        .wrapper {
            width: 100%;
            td,
            th {
                font-size: 12px;
            }
        }
        .hide_if_needed {
            display: none;
        }
    }
    @media only screen and (max-width: 485px) {
        .hide_last {
            display: none;
        }
    }
}

.user_details,
.ticket_details,
.project_details {
    .top {
        .card-head {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 1em;
            h3 {
                margin-right: auto;
            }
        }
        .td-details {
            width: 165px;
        }
    }
    .wrapper {
        display: flex;
        margin-top: 1em;
        padding-bottom: 0.3em;
        justify-content: stretch;
        align-items: stretch;
        form {
            margin-bottom: 0.5em;
        }
        &.bottom {
            margin-bottom: 2em;
            margin-top: 0;
        }
        .left {
            flex: 1;
            margin-right: 0.5em;
            margin-top: 1em;
        }
        .right {
            flex: 1;
            margin-left: 0.5em;
            margin-top: 1em;
        }
        li {
            padding-top: 0;
            padding-bottom: 0;
        }
        .btn-primary {
            margin-top: 0;
        }
        @media only screen and (max-width: 1050px) {
            flex-direction: column;
            .right {
                margin-left: 0;
            }
            .left {
                margin-right: 0;
            }
        }
    }
    span {
        bottom: -5px;
        @media only screen and (max-width: 735px) {
            left: -170px;
        }
        @media only screen and (max-width: 555px) {
            bottom: 0;
            font-size: 12px;
            left: -120px;
            left: 60px;
        }
    }
}

.edit_ticket,
.edit_project,
.create_project {
    .top {
        width: 70%;
        margin-bottom: 1em;
        .card {
            padding-bottom: 1em;
        }
    }
    .card {
        .card-head {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            h3,
            h4 {
                margin-right: auto;
            }
            margin-bottom: 1em;
        }
    }
    @media only screen and (max-width: 700px) {
        .top {
            width: 100%
        }
    }
}

.create_ticket,
.manage_project_users,
.manage_user_roles {
    .wrapper {
        display: flex;
        padding-bottom: 1em;
    }
    .orto-wrapper {
        display: flex;
        flex-direction: column;
        padding-bottom: 2em;
        &.left {
            margin-right: 1em;
            flex: 1;
            &.bottom {
                flex: 1;
            }
        }
        &.right {
            margin-left: 0;
            flex: 2;
            &.bottom {
                flex: 1;
            }
        }
        &.right.bottom {
            flex: 1;
        }
        input {
            width: 300px;
            margin-bottom: 5px;
        }
    }
    p {
        &.small-label {
            margin-top: 0em;
            margin-bottom: 0.2em;
        }
    }
    form {
        margin-bottom: 0;
    }
    .search_field {
        width: 300px;
        margin-top: 0em;
        margin-bottom: 0.7em;
    }
    .w3-select {
        width: 300px;
    }
    .btn-primary {
        margin-top: 5px;
        width: 300px;
    }
    .scroll {
        background-color: #f9f9f9;
    }
    @media only screen and (max-width: 820px) {
        .wrapper {
            flex-direction: column;
            padding-bottom: 0em;
        }
        .orto-wrapper {
            margin-bottom: 1.5em;
            &.right,
            &.left {
                margin-left: 0;
                margin-right: 0;
            }
        }
        .hide_if_needed {
            display: none;
        }
    }
}

.profile_settings,
.login,
.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .card {
        width: 50%;
        text-align: center;
        padding-bottom: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        &.narrow {
            width: 400px;
        }
    }
    table {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    p {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    @media only screen and (max-width: 900px) {
        .card {
            width: 90%;
        }
    }
}


/* Older pages -- Build with the below row and col classes */

.row {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    .col {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
    }
}

.dashboard {
    flex: 1; //makes this fill out main-div horizontally
    display: flex;
    flex-direction: column;
    .card {
        flex: 1;
        padding-top: 1em;
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 2em;
        margin: 0.5em;
        canvas {
            width: 100% !important;
            height: auto !important;
        }
    }
    @media only screen and (min-width: 1500px) {
        .card {
            padding-left: 8em;
            padding-right: 8em;
        }
    }
    @media only screen and (max-width: 950px) {
        .row {
            flex-direction: column;
        }
        .card {
            margin-left: 8em;
            margin-right: 8em;
            padding-left: 1em;
            padding-right: 1em;
        }
    }
    @media only screen and (max-width: 800px) {
        .card {
            margin-left: 4em;
            margin-right: 4em;
        }
    }
    @media only screen and (max-width: 600px) {
        .card {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.demo_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .card {
        margin-top: 2em;
        margin-bottom: 1em;
        padding-bottom: 1em;
    }
    .mt-0 {
        margin-top: 0;
    }
    .col {
        padding-top: 2em;
        &.one {
            padding-right: 1.5em;
            padding-left: 2.5em;
        }
        &.two {
            padding-left: 1.5em;
            padding-right: 4em;
        }
    }
    span {
        font-size: 16px;
        bottom: -5px;
        padding: 1em;
        position: absolute;
        &.admin,
        &.pm {
            left: -280px;
        }
        &.dev,
        &.sub {
            left: 80px;
        }
        @media only screen and (max-width: 735px) {
            &.admin,
            &.pm {
                left: -170px;
            }
        }
        @media only screen and (max-width: 555px) {
            bottom: 0;
            font-size: 12px;
            &.admin,
            &.pm {
                left: -120px;
            }
            &.dev,
            &.sub {
                left: 60px;
            }
        }
    }
}