/* Style of individual pages, i.e. the content of the main area */

.create_project {
    .card {
        padding-bottom: 1em;
    }
}

.ticket_details {
    .wrapper {
        display: flex;
        .card {
            flex: 1;
            margin-top: 2em;
            &.left {
                margin-right: 1em;
            }
            &.right {
                margin-left: 1em;
            }
        }
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        grid-auto-flow: dense;
    }
    li {
        padding-top: 0;
        padding-bottom: 0;
    }
    .top {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        h2 {
            display: inline;
        }
        a {
            margin-left: 2em;
        }
        margin-bottom:1em;
    }
    @media only screen and (max-width: 1050px) {
        .wrapper {
            flex-direction: column;
        }
    }
}

.edit_ticket {
    .select {
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }
    .card {
        margin: 1em;
        padding-bottom: 2em;
        margin: 1em;
        label {
            margin-bottom: 1em;
        }
        .card-head {
            margin-bottom: 2em;
        }
        .card-content {
            .text-input {
                display: flex;
                flex-direction: row;
            }
            .other-input {
                margin-top: 1.5em;
                display: flex;
                flex-direction: row;
            }
            .left {
                display: flex;
                flex-direction: column;
                flex: 2;
                padding-right: 3em;
                padding-left: 3em;
            }
            .right {
                display: flex;
                flex-direction: column;
                flex: 3;
                padding-right: 3em;
                padding-left: 3em;
            }
        }
    }
    @media only screen and (max-width: 1050px) {
        .card {
            .card-content {
                .text-input {
                    flex-direction: column;
                }
                .other-input {
                    flex-direction: column;
                }
                .left {
                    padding-right: 3em;
                }
            }
        }
    }
}

.project_details {
    display: flex;
    flex-direction: column;
    .card {
        margin-top: 1em;
    }
    .top {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        h2 {
            display: inline;
            padding-right: 1em;
        }
    }
    .bottom {
        padding-top: 2em;
        display: flex;
        flex-direction: row;
    }
    .bottom-left {
        margin-right: 2em;
        flex: 2;
    }
    .bottom-right {
        flex: 3;
    }
    @media only screen and (max-width: 1050px) {
        .bottom {
            flex-direction: column;
        }
    }
}

.manage_project_users {
    .top {
        width: fit-content;
        a.right {
            float: right;
        }
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        padding-bottom: 1em;
    }
    .orto-wrapper {
        display: flex;
        flex-direction: column;
        padding-bottom: 2em;
        &.top {
            flex: 1;
        }
        &.left {
            margin-right: 1em;
            flex: 1;
        }
        &.right {
            margin-left: 1em;
            flex: 1;
        }
    }
    .btn-primary {
        width: 300px;
        font-size: 15px;
        height: 30px;
    }
    .select {
        width: 300px;
        padding: 0.5em;
    }
    .scroll {
        background-color: #f9f9f9;
    }
    p {
        margin-top: 0.2em;
        margin-bottom: 0;
    }
    .card {
        margin-top: 2em;
    }
    .h4 {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.manage_user_roles {
    display: flex;
    flex-direction: row;
    padding-top: 1.5em;
    .area_one {
        display: flex;
        flex-direction: column;
        /*align-items: center;*/
        height: fit-content;
        flex: 1;
        .card {
            padding: 1em;
        }
        input {
            margin-bottom: 2em;
        }
        h4 {
            padding-top: 1em;
        }
    }
    .area_two {
        padding-left: 1em;
        flex: 2;
    }
    .btn-primary {
        width: 300px;
        font-size: 15px;
        height: 30px;
    }
    .select {
        width: 300px;
        padding: 0.5em;
        background-color: #f9f9f9;
    }
    .scroll {
        background-color: #f9f9f9;
    }
}

.profile_settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    .card {
        width: 35%;
        margin: 2em;
    }
    table {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .pad-right {
        padding-right: 3em;
    }
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .card {
        width: 50%;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-bottom: 1em;
        margin-bottom: 1em;
    }
    p {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    @media only screen and (max-width: 900px) {
        .card {
            width: 60%;
        }
    }
}

.my_projects,
.my_tickets {
    display: flex;
    align-items: stretch;
    justify-content: center;
    .wrapper {
        width: 95%;
        input {
            font-size: 14px;
            /* makes button somewhat bigger */
        }
        .card {
            margin-top: 1em;
            margin-bottom: 2em;
            padding-bottom: 2em;
        }
    }
}


/* Older pages -- Build with the below row and col classes */

.row {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    .col {
        display: flex;
        flex: 1;
        flex-direction: column;
        //justify-content: center;
        align-items: center;
    }
}

.dashboard {
    flex: 1; //makes this fill out main-div horizontally
    display: flex;
    flex-direction: column;
    padding: 1em;
    .card {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        padding-top: 1em;
        padding-left: 4em;
        padding-right: 4em;
        margin: 1em;
        flex: 1;
    }
    @media only screen and (max-width: 1100px) {
        .row {
            flex-direction: column;
        }
        .card {
            margin-left: 3em;
            margin-right: 3em;
            padding-left: 7em;
            padding-right: 7em;
        }
    }
}

.demo_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .card {
        margin-top: 2em;
        margin-bottom: 1em;
        padding-bottom: 1em;
    }
    .mt-0 {
        margin-top: 0;
    }
    .col {
        padding-top: 2em;
        &.one {
            padding-right: 1.5em;
            padding-left: 2.5em;
        }
        &.two {
            padding-left: 1.5em;
            padding-right: 4em;
        }
    }
}