@import "frame";
@import "pages";
@import "components";
@import "media";
@import "w3-overrides";
a {
    color: blue;
}

.entry-info {
    font-size: 12px;
}

// Hide arrows from number input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

.error {
    color: #f44336;
    margin: 0;
    padding: 0;
}